.footer {
    background-color: $headerAndFooterColor;
    width: 100%;
}

.advantages {
    @include flexCenterAlign-items();
    width: 71.25%;
    height: 341px;
    gap: 2%;
    padding-bottom: 104px;

    &_adv {
        @include flexCenterAlign-items();
        flex-direction: column;
        width: 31.6%;

        &_icon {
            padding-bottom: 25px;
        }

        &_subtitle {
            padding-bottom: 16px;
            color: #FBFBFB;
            font-size: 19.96px;
            font-weight: 400;
            opacity: 0.9;
        }

        &_text {
            color: #5D5D5D;
            text-align: center;
            font-size: 13.972px;
            font-weight: 300;
        }
    }
}

.block_subscribe {
    width: 100%;
    height: 448px;
    background: url('img/back.svg') no-repeat;
    position: relative;
}

.apply_color {
    display: block;
    position: absolute;
    background: rgba(244, 244, 244, 0.70);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.describe {
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.describe_2 {
    font-style: italic;
}

.block_information {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.about_employer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.to_describe {
    height: 100%;
    width: 50%;
}

.email {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 448px;
    justify-content: center;
}

.email_subtitle {
    width: 69.6%;
    text-align: center;
    padding-bottom: 32px;
}

.email_subtitle_1 {
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
}

.email_subtitle_2 {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
}

.block_input {
    text-align: center;
    width: 69.6%;
    display: flex;
    justify-content: center;
}

.decoration {
    width: 360px;
    display: flex;
    justify-content: flex-start;
}

.input_email {
    padding: 0 10px;
    background-color: #E1E1E1;
    ;
    width: 256px;
    height: 49px;
    flex-shrink: 0;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.email_button {
    background-color: #F16D7F;
    border: none;
    width: 100px;
    height: 49px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.email_button:active {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.social {
    width: 100%;
    height: 79px;
    background-color: $headerAndFooterColor;

    &_block {
        @include flexCenterAlign-items();
        justify-content: space-between;
        width: 71.25%;
        height: 100%;

        &_name {
            color: #FBFBFB;
            font-size: 16px;
            font-weight: 400;
        }

        &_icons {
            display: flex;
            gap: 7.29px;
        }
    }
}

.button_social {
    width: 31.451px;
    height: 32px;
    background-color: #FFF;
    border: none;
    @include flexCenterAlign-items();
    justify-content: center;
}

.social_links {
    padding: 10px;
}

.button_social:hover {
    background-color: #F16D7F;
}

.social_links:hover path {
    fill: #FFF;
}