@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

*,
::after,
::before {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

*,
a:focus {
  outline: none;
}

dl,
ol,
ul {
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 0;
}

button {
  transition: 0.2s;
}

.ttt {
  height: 500px;
}

@media (max-width: 1140px) {
  .center {
    padding-left: calc(50% - 50vw + 16px);
    padding-right: calc(50% - 50vw + 16px);
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: calc(50% - 50vw);
    padding-right: calc(50% - 50vw);
  }
}
.header {
  background-color: #222;
  height: 75px;
}
.header_block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.header_block_left_side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
}
.header_block_right_side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.t1 {
  padding-top: 12px;
}

.hov:hover path {
  fill: #F16D7F;
}

.burger {
  b: none;
  position: absolute;
  visibility: hidden;
  left: -99999px;
}

.burger:checked ~ .nav {
  right: 0;
}

.nav {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 200px;
  height: 601px;
  padding-left: 33px;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 10000;
  box-sizing: content-box;
  position: absolute;
  top: 77px;
  right: -240px;
  transition: right 0.3s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.nav_menu {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 24px;
}
.nav_cat {
  line-height: normal;
}
.nav_cat_block_name {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 12px;
}
.nav_cat_block_list {
  padding-left: 20px;
  list-style-type: none;
  padding-bottom: 20px;
  display: flex;
  row-gap: 11px;
  flex-direction: column;
}
.nav_cat_block_list_a {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1140px) {
  .header_block {
    margin-left: 16px;
    margin-right: 16px;
  }
  .nav {
    height: 550px;
    padding-top: 16px;
    padding-bottom: 10px;
  }
  .nav_menu {
    font-size: 12px;
    padding-bottom: 16px;
  }
  .nav_cat {
    line-height: normal;
  }
  .nav_cat_block_name {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .nav_cat_block_list {
    padding-bottom: 10px;
  }
  .nav_cat_block_list_a {
    font-size: 12px;
    row-gap: 7px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .out {
    display: none;
  }
}
.page {
  position: relative;
  overflow: hidden;
}

.top {
  background-color: #F1E4E6;
  height: 764px;
}
.top_box {
  height: 100%;
}
.top_box_left {
  height: 100%;
  width: 50%;
  background: url(img/top_photo.svg) no-repeat;
  background-position: center;
  background-size: cover;
}
.top_box_right {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  padding-left: 64px;
  gap: 16px;
}
.top_box_right_preview {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}
.top_box_right_preview_type1 {
  font-size: 48px;
  font-weight: 900;
}
.top_box_right_preview_type2 {
  color: #F16D7F;
}

.stock {
  margin-top: 65px;
  margin-bottom: 96px;
}
.stock_h {
  display: flex;
  align-items: 30px;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  padding-bottom: 30px;
}
.stock_h_chapt {
  position: relative;
  background-position: center;
  width: 31.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 260px;
}
.stock_h_chapt_text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
}
.stock_h_chapt_text_t2 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.stock_h_chapt::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 22, 22, 0.7);
}
.stock_l {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  min-height: 180px;
}
.stock_l_chapt {
  position: relative;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 180px;
}
.stock_l_chapt_text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
}
.stock_l_chapt_text_t2 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.stock_l_chapt::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 22, 22, 0.7);
}

.c1 {
  background-image: url("img/women.png");
}

.c2 {
  background-image: url("img/men.png");
}

.c3 {
  background-image: url("img/kids.png");
}

.big {
  background-image: url("img/accesories.png");
}

.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-direction: column;
  margin-bottom: 48px;
}
.featured_title {
  color: #222;
  font-size: 30px;
  font-weight: 400;
}
.featured_text {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
}

.last_part {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin-bottom: 95px;
}
.last_part_button {
  background-color: #FFF;
  width: 212px;
  height: 48px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.last_part_button:hover {
  background-color: #F16D7F;
  color: #FFF;
}

@media (max-width: 1140px) {
  .top {
    height: 368px;
  }
  .top_box_left {
    background-size: contain;
  }
  .top_box_right {
    padding-left: 40px;
  }
  .top_box_right_preview {
    font-size: 24px;
  }
  .top_box_right_preview_type1 {
    font-size: 44px;
  }
  .stock {
    margin-top: 20px;
  }
  .last_part {
    margin-top: 32px;
    margin-bottom: 65px;
  }
  .featured {
    margin-bottom: 74px;
  }
}
@media (max-width: 768px) {
  .top {
    height: 363px;
  }
  .top_box_left {
    display: none;
  }
  .top_box_right {
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding-left: 0;
    justify-content: center;
  }
  .top_box_right_preview_type1 {
    font-size: 38px;
  }
  .top_box_right_preview_type2 {
    font-size: 20px;
  }
  .stock {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .stock_h {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .stock_h_chapt {
    width: 343px;
  }
  .stock_l {
    min-height: 111px;
  }
  .stock_l_chapt {
    width: 343px;
    height: 111px;
  }
  .featured {
    margin-bottom: 65px;
  }
  .last_part {
    margin-top: 40px;
    margin-bottom: 96px;
  }
}
.f_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.f_items_item {
  background-color: #F8F8F8;
  height: 581px;
}
.f_items_item_subtitle {
  padding-top: 25px;
  padding-bottom: 16px;
  color: #000;
  font-size: 13px;
  font-weight: 400;
}
.f_items_item_description {
  padding-bottom: 16px;
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
}
.f_items_item_price {
  padding-bottom: 50px;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}

.overlay {
  position: relative;
  width: 100%;
}
.overlay_img {
  width: 100%;
}
.overlay_container {
  position: absolute;
  background-color: rgba(58, 56, 56, 0.86);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay_container_block {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  top: 45%;
  left: 50%;
}
.overlay_container_text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  align-items: center;
  border: 1px solid #FFF;
  width: 139px;
  height: 44px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.overlay:hover .overlay_container {
  transform: scale(1);
}

@media (max-width: 1140px) {
  .f_items {
    justify-content: center;
    grid-template-columns: repeat(2, 360px);
  }
}
@media (max-width: 768px) {
  .f_items {
    grid-template-columns: repeat(1, 360px);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.footer {
  background-color: #222;
}

.advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  min-height: 341px;
  padding-bottom: 104px;
}
.advantages_adv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
  width: 31.6%;
}
.advantages_adv_icon {
  padding-bottom: 25px;
}
.advantages_adv_subtitle {
  padding-bottom: 16px;
  color: #FBFBFB;
  font-size: 19.96px;
  font-weight: 400;
  opacity: 0.9;
}
.advantages_adv_text {
  color: #5D5D5D;
  text-align: center;
  font-size: 13.972px;
  font-weight: 300;
  width: 360px;
}

.block_subscribe {
  width: 100%;
  min-height: 448px;
  background: url("img/back.svg") no-repeat;
  position: relative;
  background-size: cover;
}

.apply_color {
  display: block;
  position: absolute;
  background: rgba(244, 244, 244, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.block_information {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.about_employer {
  width: 50%;
  display: flex;
  align-items: self-start;
  justify-content: center;
  gap: 0;
  flex-direction: column;
}

.image {
  padding-left: 122px;
  padding-bottom: 30px;
}

.describe {
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.describe_2 {
  font-style: italic;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
  width: 50%;
}

.email_subtitle {
  width: 69.6%;
  text-align: center;
  padding-bottom: 32px;
}

.email_subtitle_1 {
  color: #222224;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}

.email_subtitle_2 {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
}

.block_input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 69.6%;
}

.decoration {
  width: 360px;
  display: flex;
  justify-content: flex-start;
}

.input_email {
  padding: 0 10px;
  background-color: #E1E1E1;
  width: 256px;
  height: 49px;
  flex-shrink: 0;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.email_button {
  background-color: #F16D7F;
  border: none;
  width: 100px;
  height: 49px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.email_button:active {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.social {
  height: 79px;
  background-color: #222;
}
.social_block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.social_block_name {
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 400;
}
.social_block_icons {
  display: flex;
  gap: 7.29px;
}

.button_social {
  width: 31.451px;
  height: 32px;
  background-color: #FFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.button_social:hover {
  background-color: #F16D7F;
}

.button_social:hover path {
  fill: #FFF;
}

@media (max-width: 1140px) {
  .advantages {
    padding-top: 48.5px;
    flex-direction: column;
    gap: 48.5px;
    padding-bottom: 64px;
    box-sizing: border-box;
  }
  .advantages_adv {
    width: 100%;
  }
  .block_subscribe {
    height: 614px;
  }
  .block_information {
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .about_employer {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 48px;
    height: 225px;
    justify-content: flex-start;
  }
  .email {
    width: 100%;
  }
  .about_employer {
    align-items: center;
  }
  .image {
    padding-left: 0;
  }
  .email_subtitle {
    padding-bottom: 27px;
  }
  .social_block {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (max-width: 768px) {
  .block_subscribe {
    height: 550px;
  }
  .email_subtitle {
    padding-bottom: 22px;
  }
  .social {
    height: 143px;
  }
  .social_block {
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
  }
  .social_block_icons {
    padding-top: 43px;
  }
  .social_block_name {
    padding-bottom: 9px;
  }
  .about_employer {
    justify-content: space-between;
    padding-bottom: 0px;
  }
  .describe {
    font-size: 18px;
    padding-bottom: 59px;
  }
  .email_subtitle {
    width: 100%;
  }
  .email_subtitle_2 {
    font-size: 14px;
  }
  .image {
    padding-bottom: 0px;
  }
}
.top_title {
  height: 148px;
  background-color: #F8F3F4;
}
.top_title_b {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.top_title_b_title {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}
.top_title_b_breadcrumb {
  display: flex;
}
.top_title_b_breadcrumb li {
  list-style: none;
}
.top_title_b_breadcrumb li a {
  display: inline;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
}
.top_title_b_breadcrumb li.dop a {
  color: #F16D7F;
  font-weight: 700;
}
.top_title_b_breadcrumb li + li:before {
  padding: 5px;
  color: #636363;
  content: "/ ";
}
.top_title_b_breadcrumb li a:hover {
  box-shadow: 3px -3px 1px 1px rgba(9, 9, 12, 0.2);
}

@media (max-width: 768px) {
  .top_title_b {
    justify-content: center;
    flex-direction: column;
    gap: 32px;
  }
}
.carousel {
  background: #F7F7F7;
  height: 777px;
}

.carousel-inner {
  height: 100%;
}

.d-block {
  margin: auto;
}

.box {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-next-icon {
  background-image: none;
}

.box:hover path {
  fill: #F16D7F;
}

.box_about {
  height: 601px;
  margin-bottom: 130px;
}
.box_about_item {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: -65px;
  position: relative;
  outline: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  flex-direction: column;
}
.box_about_item_prefix {
  padding-top: 64px;
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
}
.box_about_item_title {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
  padding-top: 27px;
}
.box_about_item_title::before {
  content: "";
  width: 63px;
  height: 3.025px;
  background-color: #F16D7F;
  top: 95px;
  left: 534px;
  position: absolute;
}
.box_about_item_description {
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding-top: 43px;
  width: 555px;
}
.box_about_item_price {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 300;
  padding-top: 32px;
}
.box_about_item_cust::before {
  content: "";
  width: 641px;
  height: 1px;
  background-color: #EAEAEA;
  top: 357px;
  left: 250px;
  position: absolute;
}
.box_about_item_cust {
  padding-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
.box_about_item_cust_box {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
}
.box_about_item_cust_box_subt {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.box_about_item_cust_box_selection {
  padding-bottom: 5px;
}
.box_about_item_adding {
  padding-top: 48px;
  padding-bottom: 64px;
}
.box_about_item_adding_items {
  background-color: #FFF;
  width: 212px;
  height: 48px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.box_about_item_adding_items:hover {
  background-color: #F16D7F;
  color: #FFF;
}
.box_about_item_adding_items:hover path {
  fill: #FFF;
}

.main {
  margin-bottom: 128px;
}

@media (max-width: 1140px) {
  .carousel {
    height: 624px;
  }
  .d-block {
    width: 455px;
    height: 565px;
    padding-top: 29px;
  }
  .box_about {
    display: flex;
    justify-content: center;
  }
  .box_about_item {
    margin-top: 0;
    width: 768px;
  }
  .box_about_item_title::before {
    left: 351.5px;
  }
  .box_about_item_cust::before {
    left: 63.5px;
  }
}
@media (max-width: 768px) {
  .d-block {
    width: 374px;
    height: 454px;
    padding-top: 85px;
  }
  .main {
    margin-bottom: 64px;
  }
  .box_about {
    margin-bottom: 64px;
  }
  .box_about_item {
    width: 375px;
  }
  .box_about_item_title::before {
    left: 154.84px;
  }
  .box_about_item_description {
    padding-top: 32px;
    width: 326px;
  }
  .box_about_item_cust::before {
    width: 175px;
    left: 100px;
    top: 385px;
  }
  .box_about_item_cust {
    padding-top: 85.5px;
  }
  .box_about_item_cust_box_subt {
    font-size: 10px;
  }
  .box_about_item_adding {
    padding-top: 25px;
  }
}
.filter-sort {
  margin-bottom: 65px;
  margin-top: 51px;
}

.filter-sort-box {
  position: relative;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
}

.filter_content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] .filter_heading {
  color: #F16D7F;
}

.filter[open] path {
  fill: #F16D7F;
}

.filter_summary {
  display: flex;
  align-items: center;
  gap: 11px;
}

.filter_heading {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.filter_item {
  margin-top: 16px;
}

.filter_item[open] .filter_head {
  color: #F16D7F;
}

.filter_head {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
  list-style-type: none;
}

.filter_link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}

.filter_link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}

.filter_link:hover {
  color: #F16D7F;
}

.sort {
  padding-left: 390px;
  padding-top: 12px;
  display: flex;
  gap: 18px;
}

.sort_details {
  position: relative;
}

.sort_summary {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort_heading {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.sort_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  left: -9px;
  top: 22px;
  z-index: 10;
}

.sort_check {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}

.dop_inf {
  height: 420px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F7E4E2;
}

.scroll {
  margin-top: 48.5px;
  margin-bottom: 96.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.scroll_box {
  width: 283px;
  height: 43px;
  display: flex;
  align-items: center;
  border: 1px solid #EBEBEB;
}
.scroll_box_arrow {
  padding: 15px 16px 12px;
  cursor: pointer;
  border: none;
  background-color: #FFF;
}
.scroll_box_arrow:hover path {
  fill: #F16D7F;
}
.scroll_box_pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 203px;
}
.scroll_box_pages_style {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 1140px) {
  .filter-sort {
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .sort {
    justify-content: flex-end;
  }
  .exit {
    display: none;
  }
  .scroll {
    margin-top: 40.5px;
    margin-bottom: 63.5px;
  }
}
@media (max-width: 768px) {
  .filter-sort {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .sort {
    padding-left: 0px;
  }
  .sort_summary {
    gap: 9px;
  }
  .sort_heading {
    font-size: 12px;
  }
  .filter-sort-box {
    width: 360px;
  }
  .filter_img {
    width: 37.5px;
    height: 25px;
  }
  .filter_heading {
    display: none;
  }
}
.cart_b {
  margin-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.cart_b_left {
  max-width: 652px;
}
.cart_b_left_box_clother {
  box-shadow: 17px 13px 9px 1px rgba(111, 110, 110, 0.2);
  position: relative;
  display: flex;
  flex-direction: row;
  height: 306px;
  max-width: 100%;
}
.cart_b_right {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}
.cart_b_right_adress {
  width: 360px;
}
.cart_b_right_adress_title {
  margin-top: 17px;
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.cart_b_right_adress_inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 23.5px;
}
.cart_b_right_adress_inputs_i {
  height: 45px;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
  color: #222;
  font-size: 13px;
  font-weight: 300;
}
.cart_b_right_adress_button {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 300;
  padding: 12px 15px;
  background-color: #FFF;
  border: 1px solid #A4A4A4;
}
.cart_b_right_adress_button:hover {
  color: #FFF;
  background-color: #F16D7F;
  border: none;
}
.cart_b_right_receipt {
  margin-top: 57px;
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cart_b_right_receipt_total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 39px;
  gap: 12px;
  padding-right: 34px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 39px;
}
.cart_b_right_receipt_total_sub {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
}
.cart_b_right_receipt_total_all {
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.cart_b_right_receipt_total_button::before {
  top: 104px;
  left: 43px;
  content: "";
  position: absolute;
  width: 275px;
  border: 1px solid #E2E2E2;
}
.cart_b_right_receipt_total_button {
  width: 275px;
  height: 50px;
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  background-color: #F16D7F;
  border: none;
}
.cart_b_right_receipt_total_button:hover {
  color: #F16D7F;
  background-color: #FFF;
}

.clother {
  padding-top: 22px;
  padding-left: 31px;
}
.clother_name {
  color: #222;
  font-size: 24px;
  font-weight: 400;
}
.clother_b {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  gap: 6px;
}
.clother_b_style {
  color: #575757;
  font-size: 22px;
  font-weight: 400;
}
.clother_b_style_2 {
  color: #EF5B70;
}
.clother_b_style_3 {
  color: #6F6E6E;
}
.clother_b_quantity {
  margin-left: 24px;
  width: 44px;
  height: 24.949px;
  color: #6F6E6E;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #EAEAEA;
}
.clother_exit {
  position: absolute;
  left: 612px;
  top: 28px;
}
.clother_exit:hover path {
  fill: #F16D7F;
}

.clother_img {
  height: 100%;
}

.box_to_img {
  width: 40.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  background-color: #F3EEEF;
}

.carts_container {
  width: 652px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 72px;
}

.buttons_container {
  max-width: 652px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  height: 50px;
}

.grand-price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 700;
}

.buttons_clother {
  background-color: #FFF;
  padding-left: 39px;
  padding-right: 40px;
  border: 1px solid #A4A4A4;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
}

.buttons_clother:hover {
  background-color: #F16D7F;
  color: #FFF;
  border: none;
}

@media (max-width: 1140px) {
  .carts_container {
    width: 734px;
    margin-bottom: 62px;
  }
  .cart_b {
    margin-top: 59px;
    flex-direction: column;
  }
  .cart_b_left {
    max-width: 100%;
    margin-bottom: 64px;
  }
  .cart_b_left_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cart_b_right {
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 15.5px;
  }
  .buttons_container {
    gap: 48px;
  }
  .clother_exit {
    left: 692px;
  }
}
@media (max-width: 768px) {
  .cart_b {
    margin-top: 39px;
    margin-bottom: 96px;
  }
  .cart_b_left {
    margin-bottom: 48px;
  }
  .cart_b_left_box_clother {
    height: 188px;
  }
  .cart_b_right {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .cart_b_right_receipt {
    margin-top: 48px;
  }
  .carts_container {
    width: 360px;
    gap: 32px;
    margin-bottom: 30px;
  }
  .clother {
    padding-top: 13px;
    padding-left: 17px;
  }
  .clother_name {
    font-size: 16px;
  }
  .clother_b {
    margin-top: 26px;
    gap: 4px;
  }
  .clother_b_style {
    font-size: 14px;
  }
  .clother_b_quantity {
    font-size: 10px;
    width: 24px;
    height: 15px;
  }
  .buttons_container {
    gap: 9px;
    max-width: 360px;
    height: 33px;
  }
  .buttons_clother {
    font-size: 12px;
    width: 175px;
    padding: 0;
  }
}
.registration {
  margin-top: 64px;
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}

.f_box {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.fields {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.fields__names {
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.fields__description {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 39px;
}
.fields__button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}
.fields__button:hover {
  border: 1px solid #F16D7F;
  background-color: #FFF;
  color: #F16D7F;
}
.fields__button:hover path {
  fill: #F16D7F;
}
.fields__svg {
  padding-left: 20px;
}

.entry-field {
  width: 360px;
  height: 44px;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
  box-sizing: border-box;
}

.entry-field:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.gender {
  display: flex;
  gap: 10px;
}

.gender-input {
  display: flex;
  margin-top: 34px;
  margin-bottom: 34px;
  gap: 20px;
}

.real-checkbox {
  z-index: -100;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.custom-checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #A4A4A4;
  margin-right: 10px;
  box-sizing: border-box;
}

.real-checkbox:checked + .custom-checkbox {
  background-color: #FFF;
  border: 4px solid #F16D7F;
}

.loyalty {
  max-width: 652px;
  color: #000;
  font-size: 24px;
  font-weight: 300;
}
.loyalty__name {
  font-weight: 300;
  margin-bottom: 22px;
}
.loyalty__description {
  margin-bottom: 21px;
}
.loyalty__list {
  list-style-image: url("img/marker.svg");
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 26px;
}
.loyalty__list__paragraph {
  padding-left: 23.08px;
}

@media (max-width: 1140px) {
  .registration {
    margin-top: 40px;
    gap: 22.5px;
  }
  .loyalty {
    font-size: 16px;
  }
  .loyalty__name {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .loyalty__description {
    max-width: 354px;
  }
  .loyalty__list {
    gap: 22px;
  }
}
@media (max-width: 1140px) {
  .registration {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
  }
}/*# sourceMappingURL=style.css.map */